alias cdp="cd ~/Dropbox/projects"
alias cdd="cd ~/Dropbox/projects/dotfiles"
alias todo="vim ~/Dropbox/projects/TODO.md"
alias cdx="cd ~/Dropbox/projects/exercism"
alias notes="cd ~/Dropbox/projects/notes/outlines"

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
  # -l long format
  # -F / after dirs, * after exe, @ after symlink
  # -G colorize
  # -g suppress owner
  # -o suppress group
  # -h humanize sizes
  # -q print nongraphic chars as question marks
alias l="ls -lFGgohq"
alias la="ls -lFGgohqa" # hidden files

# bundle
alias be="bundle exec"

alias v="vi ."
alias gofro="cd ~/Dropbox/projects/go/src/github.com/wfro"

# rails
alias cons="bundle exec rails c"
alias sbox="bundle exec rails c --sandbox"
alias dbm="bundle exec rake db:migrate"
alias rr="bundle exec rake routes"

# git
alias gsh="git s" # git show with my custom options (see gitconfig)
alias gs=" git status"
alias gd=" git d" # git diff with my custom options
alias gco="git checkout"
alias gb=" git branch"
alias ga=" git add"
alias gcm="git commit"
alias gp=" git push"
alias gh=" git hist"
alias gfu="git fetch upstream"

