alias cdp="cd ~/codes"
alias drive="cd ~/Drive/projects"
alias notes="cd ~/Dropbox/notes"
alias cdd="cd ~/codes/dotfiles"
alias gofro="cd ~/Dropbox/projects/go/src/github.com/wfro"

alias psg="ps aux | grep"

alias vi="vim"

alias ppj="python -m json.tool"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
  # -l long format
  # -F / after dirs, * after exe, @ after symlink
  # -G colorize
  # -g suppress owner
  # -o suppress group
  # -h humanize sizes
  # -q print nongraphic chars as question marks
alias l="ls -lFGgohq"
alias la="ls -lFGgohqa" # hidden files

alias be="bundle exec"

alias cons="bundle exec rails c"
alias sbox="bundle exec rails c --sandbox"
alias dbm="bundle exec rake db:migrate"
alias rr="bundle exec rake routes"

alias gsh="git s" # git show with my custom options (see gitconfig)
alias gs="git status"
alias gd="git diff" # git diff with my custom options
alias gds="git diff --staged"
alias gco="git checkout"
alias gb=" git branch"
alias ga=" git add"
alias gap="git add -p"
alias gcm="git commit"
alias gdc="git duet-commit"
alias gp="git push"
alias gh="git hist"
alias gg="git grep"

alias gfu="git fetch upstream"

alias mastr="git pull -r origin master"

alias quick-rebase="git rebase -i @~10"

# Every single day I redefine my understanding of how often I can mispell this one
alias zues=zeus
