"*":
  core:
    packagesWithKeymapsDisabled: [
      "dash"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 17
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "171d2411-d74f-720e-3bfe-73bae351a2cd"
  linter:
    errorPanelHeight: 26
  "linter-eslint": {}
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      printWidth: 100
      semi: false
      singleQuote: true
  welcome:
    showOnStartup: false
